.app {
  text-align: center;
}

.portfolioBenchmark__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.portfolioBenchmark__heading {
  text-align: left;
}
