.chart__container {
  text-align: center;
  background-color: rgb(7, 35, 64);
  border-radius: 1.5%;
}

.chart__heading {
  text-align: left;
  padding: 2%;
  margin: 0;
  font-size: 24px;
  color: #bcbcbc;
}

.chart__description {
  text-align: left;
  padding: 2%;
  margin: 0;
  color: #bcbcbc;
}

.chart__legendDescription {
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 20%;
  margin: 0;
  color: #bcbcbc;
}
.chart__legendDescription p {
  margin: 5px;
}
