body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}
